/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Noto Sans TC', -apple-system, 'Microsoft JhengHei', '微軟正黑體';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------以上為 reset---------- */

/* ----------導覽列選單---------- */
.content-Header{
    width: 100%;
    height: 80px;
    padding: 0 50px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #717b8e;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0px;
}
.content-Header .main-Logo{
    width: 140px;
    height: 30px;
    overflow: hidden;
    text-indent: 100%;
    text-align: left;
    background-image: url(img/asset\ 6.svg);
    /* https://assets.whoscall.com/assets/media/images/logo-1ac05e55a23c9d1d8319e8ec752b8f98.svg */
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}
.main-Nav{
    margin-right: 10px;
    display: flex;
    flex-grow: 1;
}
.main-Nav a{
    padding: 0 15px;
    text-decoration: none;
    color: #2c323f;
    font-weight: 800;
}
.main-Nav a:hover{
    color: #00c300;
}
button{
    font-size: 18px;
    border: none;
    background-color: #00c300;
    color: #fff;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 100px;
}

/* ----------主視覺廣告---------- */
.section-KV{
    width: 100%;
    background-image: url('https://d3qzy1rn79qj7v.cloudfront.net/hero_images/valid-number-1440.jpg');
    background-size: cover;
    background-position:center;
    margin: 80px 0 0;
    display: flex;
    justify-content: space-between;
}
.section-KV .KV{
    width: 960px;
}
.section-KV .main-Title h2{
    font-size: 60px;
    font-weight: 900;
    line-height: 130px;
    color: #00c300;

}
.section-KV .main-Title p{
    font-size: 32px;
    font-weight: 500;
}
.section-KV .main-Title a{
    display: block;
    margin: 40px 0 10px;
    width: fit-content;
    padding: 20px 70px;
    font-size: 20px;
    font-weight: 800;
    background-color: #00c300;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
}
.section-KV .KV .note{
    color: #00c300;
    font-size: 14px;
    font-weight:900;
    padding: 0 20px;
}
.section-KV .pic:last-child{
    text-align: right;
}

/* ----------市場調查---------- */
.section-MarketingResearch .MarketingResearch{
    width: 960px;
    margin: auto;
    padding: 100px 0;
}
.section-MarketingResearch .main-Title{
    text-align: center;
}
.section-MarketingResearch .main-Title h2{
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
}
.section-MarketingResearch .main-Title p{
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
}
.section-MarketingResearch .main-Title strong{
    color: #00c300;
}
.section-MarketingResearch .main-Title .mute{
    color: #717b8e;
    font-size: 14px;
    padding: 20px 0;
}
.section-MarketingResearch .item-List .item{
    display: flex;
    justify-content: center;
    align-items:center;
}
.section-MarketingResearch .item-List .item:nth-of-type(odd){
    flex-direction: row-reverse;
}
.section-MarketingResearch .item-List .item .pic{
    width: 465px;
    padding: 0 30px;
}
.section-MarketingResearch .item-List .item .txt{
    width: 465px;
}
.section-MarketingResearch .item-List .txt h3{
    font-size: 32px;
    color: #00c300;
    font-weight: 900;
    padding: 30px 0;
}
.section-MarketingResearch .item-List .txt p{
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
}
.section-MarketingResearch .item-List .txt .mute{
    color: #717b8e;
    font-size: 14px;
    padding: 30px 0;
}

/* ----------拓展業務---------- */
.section-ExpandBusiness{
    background-color: #f5f6f9;
    padding: 40px 0;
}
.section-ExpandBusiness .ExpandBusiness{
    width: 960px;
    margin: auto;
}
.section-ExpandBusiness .ExpandBusiness h2{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    padding:20px 0 40px;
}
.section-ExpandBusiness .item-List{
    display: flex;
}
.section-ExpandBusiness .item-List .item{
    width: 300px;
    margin: 10px;
    text-align: center;
}
.section-ExpandBusiness .item-List .pic img{
    width: 50%;
}

/* ----------用戶經驗---------- */
.section-UserExprience{
    padding: 50px 0;
}
.section-UserExprience .UserExprience{
    width: 960px;
    margin: auto;
}
.section-UserExprience .UserExprience h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 60px 0;
}
.section-UserExprience .item-List{
    display: flex;
}
.section-UserExprience .item-List .item{
    width: 300px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    align-content: space-between;
    padding: 20px;
}
.section-UserExprience .item-List .item h3{
    padding: 10px 0 30px;
    font-size: 25px;
    font-weight: 900;
}
.section-UserExprience .item-List .item p{
    line-height: 20px;
    font-weight: 600;
}
.section-UserExprience .UserExprience .txt img{
    transform:scaleX(-1);
    margin: 2px;
}
.section-UserExprience .UserExprience .pic-Btm img{
    width: 150px;
    margin-left: 100px;
}
.section-UserExprience .UserExprience .pic-Btm1 img{
    width: 300px;
}

/* ----------馬上申請---------- */
.section-ApplyNow{
    background-color: #f5f6f9;
    padding: 80px 0;
}
.section-ApplyNow .main-Title{
    text-align: center;
}
.section-ApplyNow .main-Title h2{
    padding: 30px 0;
    font-size: 38px;
    font-weight: 900;
}
.section-ApplyNow .main-Title .note{
    color: #00c300;
    font-weight: 600;
    font-size: 18px;
}

/* ---------------------------------- */
/* .section-Form .Form .content-Form{

} */

.section-Form .Form .content-Form li{
    list-style-type: none;

}

/* ----------頁尾選單---------- */
footer{
    padding: 10px 0 30px;
    background-color: #2c323f;
}
.content-Footer{
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.content-Footer .footer-Link{
    display: flex;
}
.content-Footer .footer-Link .column{
    margin-right: 50px;
}
.content-Footer .footer-Link h3{
    color: #fff;
    font-size: 18px;
}
.content-Footer .footer-Link .link-List{
    list-style-type: none; 
}
.content-Footer .footer-Link .link-List li{
    flex-direction: row-reverse;
}
.content-Footer .footer-Link .link-List a{
    color: #ccc;
    text-decoration: none;
}
.content-Footer .footer-Social{
    width: 200px;
}
.content-Footer .footer-Social .Follow i{
    font-size: 30px;
    padding: 10px;
}
.content-Footer .Follow h3{
    color: #fff;
}
.content-Footer .Follow ul{
    display: flex;
}
.content-Footer .powerBy a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.footer-Copyright{
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-Copyright .txt{
    display: flex;
    color: #717b8e;
}
.footer-Copyright .txt a{
    color: #717b8e;
    text-decoration: none;
    padding: 16px 20px;
}